@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      @apply font-super-grotesk-ot;
    }
    h1{
      @apply text-[2rem] font-bold tracking-[0.2rem] leading-normal font-super-rotesk-comp;
    }
}

.collapsable .collapsable-content {
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease;
}

.collapsable .collapsable-btn{
  cursor: pointer;
}

.collapsable.expanded .collapsable-content {
height: auto;
transition: height 0.3s ease;
}

.collapsable .chevron {
transition: all 0.2s ease;
}