/* SuperGroteskComp-Bold */

@font-face {
  font-family: 'SuperGroteskComp';
  src: url('/fonts/SuperGroteskComp-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* SuperGroteskComp.ttf/ */

@font-face {
  font-family: 'SuperGroteskComp';
  src: url('/fonts/SuperGroteskComp.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 

/* SuperGroteskOT.otf */

@font-face {
  font-family: 'SuperGroteskOT';
  src: url('/fonts/SuperGroteskOT.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ReenieBeanieRegular */

@font-face {
  font-family: 'Reenie Beanie';
  src: url('/fonts/ReenieBeanieRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      @apply font-super-grotesk-ot;
    }
    h1{
      @apply text-[2rem] font-bold tracking-[0.2rem] leading-normal font-super-rotesk-comp;
    }
}


.collapsable .collapsable-content {
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease-in-out;
}

.collapsable .collapse-btn{
  cursor: pointer;
}

.collapsable.expanded .collapsable-content {
height: auto;
transition: height 0.3s ease-in-out;
}

.collapsable .collapse-btn-chevron {
transition: all 0.2s ease;
}

